# Git
.git
.gitignore
.gitattributes

# CI
.codeclimate.yml
.travis.yml
.taskcluster.yml
.gitlab-ci.yml
Jenkinsfile

# Docker
.docker
.dockerignore
Dockerfile

**/*.md
**/*_test.xml
tests/
coverage.*
sonar-project.properties